<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RecordedMusicCatalogueConnectionString"
		connectionString="
		Server=ANDREWRIDLE0060\SQLEXPRESS;
		Database=RecordedMusicCatalogueDB;
		Trusted_Connection=True;"
		providerName="System.Data.SqlClient"/>
		<add name ="JsonFilePath" connectionString="C:\Users\andrewridley\source\repos\RecordedMusicCatalogue\themeConfig.json"/>
	</connectionStrings>
</configuration>
